.panel {
    position: fixed;
    z-index: 500;

    top: 0;
    left: 0;
    bottom: 0;


    width: 400px;
    max-width: 40vw;

    background-color: rgba(20, 22, 25, 0.98);
    border-right: 1px solid #444;

    border-radius: 0;

    padding: 1.5rem;
    color: #eee;


    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
