.App {
  display: flex;
  flex-direction: column; /* Stack header and main vertically */
  height: 100vh; /* Make the app fill the entire viewport height */
  background-color: #121212; /* A dark background for the whole app */
}

.App main {
  flex-grow: 1; 
  position: relative;
}